<h1>Blog Create</h1>
<form action="/admin/blog/store" method="POST">
    <input type="text" name="title"/>
    <input type="text" name="details"/>
    <input type="file" name="image"/>

    <button type="submit">Submit</button>
</form>