<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">

          <div class="card">
            <div class="card-body">
                <a class="btn btn-outline-warning btn-sm float-end my-2" href="/admin/blog/create">Create</a>

              <!-- Dark Table -->
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Details</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                    <td>
                        <a href="/admin/blog/1/show" class="btn btn-outline-info btn-sm">Show</a>
                        <a href="/admin/blog/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="/admin/blog/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">5</th>
                    <td>Raheem Lehner</td>
                    <td>Dynamic Division Officer</td>
                    <td>47</td>
                    <td>
                        <a href="/admin/blog/1/show" class="btn btn-outline-info btn-sm">Show</a>
                        <a href="/admin/blog/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="/admin/blog/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End Dark Table -->

            </div>
          </div>
    </section>
</main>