<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">View</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <form action="/admin/blog/store" method="POST">
            <input type="text" name="title" />
            <input type="text" name="details" />
            <input type="file" name="image" />

            <button type="submit">Submit</button>
        </form>
    </section>
</main>