<!DOCTYPE html>
<html lang="en">

{{>backend/_head}}

<body>

  {{>backend/_header}}

  {{>backend/_asideBar}}

    {{{body}}}
  {{>backend/_footer}}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {{>backend/_script}}

</body>

</html>