<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">

          <div class="card">
            <div class="card-body">
                <a class="btn btn-outline-warning btn-sm float-end my-2" href="/admin/contact-us/create">Create</a>

              <!-- Dark Table -->
              <table class="table table-dark">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>:</td>
                        <td>
                            {{contact_us.title}}
                        </td>
                    </tr>

                    <tr>
                        <th>Details</th>
                        <td>:</td>
                        <td>
                            {{contact_us.details}}
                        </td>
                    </tr>

                    <tr>
                        <th>Icon</th>
                        <td>:</td>
                        <td>
                            <img src="/{{contact_us.icon}}" width="200px" alt="">
                        </td>
                    </tr>
                </tbody>
              </table>
              <!-- End Dark Table -->

            </div>
          </div>
    </section>
</main>