
    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        {{>frontend/sections/teamList}}

      </div>
    </section><!-- End Team Section -->
