
<!DOCTYPE html>
<html lang="en">

{{>frontend/_head}}
<body>

    {{>frontend/_header}}
    {{{body}}}
    {{>frontend/_footer}}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{{>frontend/_script}}

</body>

</html>